asgiref==3.7.2
Brotli==1.1.0
click==8.1.7
dj-database-url==2.2.0
Django==3.2
django-admin-soft-dashboard==1.0.12
et-xmlfile==1.1.0
gunicorn==22.0.0
h11==0.14.0
openpyxl==3.1.2
packaging==24.0
psycopg2-binary==2.9.9
python-dotenv==1.0.1
pytz==2024.1
sqlparse==0.4.4
typing_extensions==4.12.0
uvicorn==0.30.1
whitenoise==6.6.0
