{% load i18n static admin_soft %}

<aside class="sidenav navbar navbar-vertical navbar-expand-xs border-0 border-radius-xl my-3 fixed-start ms-3 bg-white" id="sidenav-main">
  <div class="sidenav-header">
    <i class="fas fa-times p-3 cursor-pointer text-secondary opacity-5 position-absolute end-0 top-0 d-none d-xl-none" aria-hidden="true" id="iconSidenav"></i>
    <a class="navbar-brand m-0" href="{% url 'admin:index' %}">
      <img src="{% static 'img/ecoleTchanty.svg' %}" class="navbar-brand-img h-100" alt="main_logo">
      <span class="ms-1 font-weight-bold" style="font-weight: bold !important;">ECOLE TCHANTY</span>
    </a>
  </div>
  <hr class="horizontal dark mt-0">
  <div class="collapse navbar-collapse  w-auto " id="sidenav-collapse-main">
    <ul class="navbar-nav">

      {% admin_get_menu as app_list %}
      {% if app_list %}
          {% for app in app_list %}
              {% if app.has_perms and not app.pinned %}
                <li class="nav-item">
                  <span class="nav-link{% if app_label != app.label and app.url not in request.path|urlencode  %} collapsed{% endif %} d-flex justify-content-between align-items-center" data-bs-toggle="collapse" data-bs-target="#submenu-{{ app.app_label }}">
                    <span class="d-flex justify-content-between align-items-center">
                      <div class="icon icon-shape icon-sm shadow border-radius-md bg-white text-center me-2 d-flex align-items-center justify-content-center">
                        <span class="sidebar-icon {{ app.icon }}"></span>
                      </div>
                      <a href="{{ app.url }}" title="{{ app.label }}">
                        <span class="nav-link-text ms-1">{{ app.label|slice:10 }}{% if app.label|length > 10 %}..{% endif %}</span>
                      </a>
                    </span>
                  </span>

                  {% if app.models %}
                    <div class="multi-level ms-5 collapse {% if 'tables-bootstrap-' in segment or app_label == app.label or app.url in request.path|urlencode %} show {% endif %}" role="list" id="submenu-{{ app.app_label }}"                                                                                                       aria-expanded="{% if app_label == app.label or app.url in request.path|urlencode %}true{% else %}false{% endif %}">
                      <ul class="flex-column nav">
                        {% for model in app.models %}
                          {% if model.url %}
                            <li class="nav-item{% if 'bootstrap-tables' in segment or model.url in request.path|urlencode %} active {% endif %} list-unstyled">
                              <a class="nav-link" href="{{ model.url }}">
                                <span class="nav-link-text ms-1">{{ model.label }}</span>
                              </a>
                            </li>
                          {% else %}
                            <li class="nav-item list-unstyled">{{ model.label }}</li>
                          {% endif %}
                        {% endfor %}
                      </ul>
                    </div>
                  {% endif %}
                </li>
              {% endif %}
          {% endfor %}
      {% endif %}

    </ul>

  </div>
  <!--
  <div class="sidenav-footer mx-3 ">
    <div class="card card-background shadow-none card-background-mask-secondary" id="sidenavCard">
      <div class="full-background" style="background-image: url('{% static 'img/curved-images/white-curved.jpg' %}')"></div>
      <div class="card-body text-start p-3 w-100">
        <div class="icon icon-shape icon-sm bg-white shadow text-center mb-3 d-flex align-items-center justify-content-center border-radius-md">
          <i class="ni ni-diamond text-dark text-gradient text-lg top-0" aria-hidden="true" id="sidenavCardIcon"></i>
        </div>
        <div class="docs-info">
          <h6 class="text-white up mb-0">Need help?</h6>
          <a href="https://docs.appseed.us/products/django-dashboards/soft-ui-dashboard/" 
             target="_blank" class="btn btn-white btn-sm w-100 mb-0">Read the DOCS</a>
        </div>
      </div>
    </div>
    <a target="_blank"
       class="btn bg-gradient-primary mt-3 w-100" 
       href="https://appseed.us/support/">Support</a>
  </div>
--->
</aside>